<form class="filter-box" (ngSubmit)="onFilter()" >
  <div class="filters">
    
    <mat-form-field appearance="outline" class="small-form-field" subscriptSizing="dynamic">
      <mat-label>Cerca per Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="filters.email" placeholder="esempio@mail.com">
    </mat-form-field>

    <mat-form-field appearance="outline" class="small-form-field" subscriptSizing="dynamic">
      <mat-label>Codice Fiscale</mat-label>
      <input matInput name="codiceFiscale" [(ngModel)]="filters.codiceFiscale" placeholder="Inserisci CF" style="text-transform: uppercase;">
    </mat-form-field>

    <button mat-flat-button type="submit" class="filter-btn">Filtra Utenti</button>
    <button mat-flat-button class="reset-btn" type="button" (click)="resetFilters()">Reset</button>
    
  </div>
</form>


<div class="container">
  <table>
    <thead>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>CodiceFiscale</th>
      <th>Data di nascita</th>
      <th>Ruolo</th>
      <th>Data creazione</th>
      <th>Azione</th>
    </thead>

    <tbody>
      @for (u of utenti(); track u.id) {
        <tr class="user_row">
          <td>{{ u.name }}</td>
          <td>{{ u.lastName }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.phone }}</td>
          <td>{{ u.codiceFiscale }}</td>
          <td>{{ u.birthday }}</td>
          <td>{{ u.role }}</td>
          <td>{{ u.createDate }}</td>
          <td>
            <button (click)="userUpdate(u.id)"><span class="material-symbols-outlined">edit</span></button
            ><button (click)="deleteUser(u.id)"><span class="material-symbols-outlined">delete</span></button>
          </td>
        </tr>

        @if (userUpdateId() === u.id) {
          <tr >
            <td colspan="10">
              <app-admin-user-update [userId]="u.id"></app-admin-user-update>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
