<footer class="footer">
  <div class="footer-container">
    
    <div class="footer-section brand-info">
      <img src="/images/logo_vante.jpg" alt="Logo Vante" class="footer-logo">
      <p>L'eccellenza del design incontra la qualità dei materiali. Vante definisce lo stile contemporaneo.</p>
      
      <div class="social-icons">
        <a href="https://www.facebook.com/?locale=it_IT" target="_blank">
          <img src="/images/facebook.png" alt="Facebook" class="fb-icon">
        </a>

        <a href="https://www.instagram.com/" target="_blank">
          <img src="/images/intagram.png" alt="Instagram" class="ig-icon">
        </a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Shop</h3>
      <ul>
        <li><a routerLink="/collezioni">Nuova Collezione</a></li>
        <li><a routerLink="/best-sellers">I più venduti</a></li>
        <li><a routerLink="/accessori">Accessori</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>SERVE AIUTO?</h3>
      <ul>
        <li>Chiamaci: +39 02 947 52 090</li>
        <li>Email: vanteboutique@gmail.com</li>
        <li>Scrivici su Whatsapp</li>
      </ul>
    </div>

    <div class="footer-section newsletter">
      <h3>Newsletter</h3>
      <p>Iscriviti alle newsletter di Vantè e scopri le ultime novità della Boutique</p>
      <div class="newsletter-input">
        <input type="email" placeholder="La tua email">
        <button type="button">OK</button>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 VANTE. ALL RIGHTS RESERVED. | P.IVA 123456789</p>
  </div>
</footer>