<footer class="footer">
  <div class="footer-container">
    
    <div class="footer-section brand-info">
      <img src="/images/Vante_1.png" alt="Logo Vante" class="footer-logo">
      <p>L'eccellenza del design incontrano la qualità dei materiali. Vante definisce lo stile contemporaneo.</p>
      <div class="social-icons">
        <a href="#"><mat-icon>facebook</mat-icon></a>
      </div>
    </div>

   

    <div class="footer-section">
      <h3>Shop</h3>
      <ul>
        <li><a routerLink="/collezioni">Nuova Collezione</a></li>
        <li><a routerLink="/best-sellers">I più venduti</a></li>
        <li><a routerLink="/accessori">Accessori</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Supporto</h3>
      <ul>
        <li><a routerLink="/spedizioni">Spedizioni</a></li>
        <li><a routerLink="/resi">Resi e Rimborsi</a></li>
        <li><a routerLink="/contatti">Contattaci</a></li>
      </ul>
    </div>

    <div class="footer-section newsletter">
      <h3>Newsletter</h3>
      <p>Iscriviti per ricevere aggiornamenti esclusivi.</p>
      <div class="newsletter-input">
        <input type="email" placeholder="La tua email">
        <button>OK</button>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 VANTE. All rights reserved. | P.IVA 123456789</p>
  </div>
</footer>