<nav class="navbar">
  <div class="nav-left">
    <button class="menu-trigger-with-text" (click)="menuClick.emit()">
      <mat-icon>menu</mat-icon>
      <span class="menu-label">MENU</span>
    </button>

    <button class="search-btn-inline" title="admin" (click)="goToUserProfile()">
      <div class="nav-logo">
        <span class="menu-label">PROFILO</span>
      </div>
    </button>
    @if (userData?.role === 'ADMIN') {
      <button class="search-btn-inline" title="admin">
        <div class="nav-logo" (click)="goToAdmin()">
          <span class="menu-label">admin</span>
        </div>
      </button>
    }
  </div>

  <div class="nav-logo">
    <img src="/images/logo_vante.jpg" alt="Logo Aziendale" class="logo-img" />
  </div>

  <div class="nav-icons">
    @if (userData?.name) {
      <p>{{ userData?.name }}</p>
    } @else {
      <button mat-icon-button title="Accedi" (click)="goToLogin()">
        <mat-icon>person_outline</mat-icon>
      </button>
    }

    <button mat-icon-button title="Esci" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>

    <button mat-icon-button title="Preferiti" (click)="goToWishlist()">
      <mat-icon>favorite_border</mat-icon>
    </button>

    <button mat-icon-button title="Carrello" (click)="goToCart()">
      <mat-icon>shopping_bag</mat-icon>
    </button>
  </div>
</nav>
