<nav class="navbar">
  <div class="nav-left">
    <button class="menu-trigger-with-text" (click)="menuClick.emit()">
      <mat-icon>menu</mat-icon>
      <span class="menu-label">MENU</span>
    </button>

    <button class="search-btn-inline" title="Cerca">
      <mat-icon>search</mat-icon>
      <span class="search-label">CERCA</span>    
    </button>
        
    <button class="search-btn-inline" title="admin">
      <div class="nav-logo" [routerLink]="['/admin']">
        <span class="menu-label">admin</span>
      </div>
    </button>
  </div>

  <div class="nav-logo" [routerLink]="['/']">
    <img src="/images/logo_vante.jpg" alt="Logo Aziendale" class="logo-img">
  </div>

  <div class="nav-icons">
    <button mat-icon-button title="Accedi" [routerLink]="['/login']">
      <mat-icon>person_outline</mat-icon>
    </button>
    
    <button mat-icon-button title="Preferiti">
      <mat-icon>favorite_border</mat-icon>
    </button>
    
    <button mat-icon-button title="Carrello" [routerLink]="['/cart']">
      <mat-icon>shopping_bag</mat-icon>
    </button>
  </div>
</nav>