<div class="container mt-4">
  <h2 class="mb-4">Crea Nuova Categoria</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="product-form">
    
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Nome Categoria</mat-label>
      <input matInput formControlName="category" />
    </mat-form-field>

    <div class="mb-4 d-flex align-items-center gap-2">
      <input type="checkbox" formControlName="isView" id="isView" style="width: 18px; height: 18px;">
      <label for="isView" class="m-0">Visualizza nella Homepage</label>
    </div>

    <div class="mt-2 text-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid">
        Crea Categoria
      </button>
    </div>
  </form>

  @if (okMessage()) { <div class="alert alert-success mt-3">{{ okMessage() }}</div> }
  @if (error()) { <div class="alert alert-danger mt-3">{{ messageError() }}</div> }
</div>