<div class="container">
  <button (click)="openCreateTaglia()">Aggiungi taglia</button>
  @if (createTaglia() === true) {
    <app-aggiungi-taglia [productId]="productId()"></app-aggiungi-taglia>
  }
  <table>
    <thead>
      <th>Taglia</th>
      <th>Quantità</th>
      <th>Azione</th>
    </thead>

    <tbody>
      @for (t of listaTaglie(); track t.id) {
        <tr class="user_row">
          <td>{{ t.size }}</td>
          <td>{{ t.quantity }}</td>
          <td>
            <button (click)="openUpdateTaglia(t.id)">Modifica</button>
            <button (click)="deleteTaglia(t.id)">Elimina</button>
          </td>
          @if(messageError() != null){<td>{{messageError()}}</td>}
          @if(messageOk() != null){<td>{{messageOk()}}</td>}
        </tr>
        @if (updateTaglia() === true && sizeId() === t.id) {
          <tr>
            <td colspan="10">
              <app-modifica-taglia [sizeId]="t.id" [sizeValue]="t.size" [sizeQuantity]="t.quantity"></app-modifica-taglia>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
