<div class="container">
  <table>
    <thead>
      <th>Nome</th>
      <th>Immagine</th>
      <th>Descrizione</th>
      <th>Categoria</th>
      <th>Genere</th>
      <th>Materiale</th>
      <th>Prezzo</th>
      <th>P. Scontato</th>
      <th>% sconto</th>
      <th>Azione</th>
    </thead>

    <tbody>
      @for (p of products(); track p.id) {
        <tr class="user_row">
          <td><img [src]="p.image" style="width: 50px" /></td>
          <td>{{ p.name }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.category.category }}</td>
          <td>{{ p.gender }}</td>
          <td>{{ p.material }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.discount != null ? p.discount : "-" }}</td>
          <td>{{ p.discountPercentage }}</td>
          <td>
            <button (click)="toggleView(p.id, 'update')"><span class="material-symbols-outlined">edit</span></button>
            <button (click)="toggleView(p.id, 'taglie')"><span class="material-symbols-outlined">format_list_bulleted</span> Taglie</button>
            <button (click)="toggleView(p.id, 'review')"><span class="material-symbols-outlined">format_list_bulleted</span> Review </button>
            <button (click)="deleteProduct(p.id)"><span class="material-symbols-outlined">delete</span></button>
          </td>
        </tr>
        @if (activeView()?.id === p.id) {
          <tr>
            <td colspan="10">
              @switch (activeView()?.type) {
                @case ('update') {
                  <app-update-product
                    [productId]="p.id"
                    (productUpdated)="onProductModified()"
                  ></app-update-product
                  >>
                }
                @case ('taglie') {
                  <app-lista-taglie [productId]="p.id"></app-lista-taglie>
                }
                @case ('review') {
                  <app-lista-review [productId]="p.id"></app-lista-review>
                }
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
