<div class="container">
  <table>
    <thead>
      <th>Nome</th>
      <th>Immagine</th>
      <th>Descrizione</th>
      <th>Categoria</th>
      <th>Genere</th>
      <th>Materiale</th>
      <th>Prezzo</th>
      <th>PrezzoScontato</th>
      <th>Percentuale Sconto</th>
      <th>Azione</th>
    </thead>

    <tbody>
      @for (p of products(); track p.id) {
        <tr class="user_row">
          <td>{{ p.name }}</td>
          <td>{{ p.image }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.category.category }}</td>
          <td>{{ p.gender }}</td>
          <td>{{ p.material }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.discount }}</td>
          <td>{{ p.discountPercentage }}</td>
          <td>
            <button (click)="open(p.id)">Modifica</button>>
            <button (click)="deleteProduct(p.id)">Elimina</button>
            <button>Lista Taglie</button>
            <button>Lista Review</button>
          </td>
        </tr>
        @if (selectedProductId() === p.id) {
          <div style="width: max-content; height: 500px"></div>
        }
      }
    </tbody>
  </table>
</div>
