<div class="container">
  <div class="side_bar">
    <button class="side_bar_tab" (click)="toggleMenu('utenti')">Utenti</button>
    @if (openMenu === 'utenti') {
      <div class="dropdown_content">
        <button class="option_btn" (click)="setView('lista-utenti')">Lista Utenti</button>
        <button class="option_btn" (click)="setView('aggiungi-utente')">Aggiungi utente</button>
      </div>
    }

    <button class="side_bar_tab" (click)="toggleMenu('prodotti')">Prodotti</button>
    @if (openMenu === 'prodotti') {
      <div class="dropdown_content">
        <button class="option_btn" (click)="setView('lista-prodotti')">Lista prodotti</button>
        <button class="option_btn" (click)="setView('aggiungi-prodotto')">Aggiungi prodotto</button>
      </div>
    }

    <button class="side_bar_tab" (click)="toggleMenu('ordini')">Ordini</button>
    @if (openMenu === 'ordini') {
      <div class="dropdown_content">
        <button class="option_btn" (click)="setView('lista-ordini')">Lista ordini</button>
        <button class="option_btn" (click)="setView('modifica-ordine')">Modifica ordine</button>
      </div>
    }
  </div>

  <div class="content">
    @switch (activeView) {
      @case ('lista-utenti') {
        <h1>Lista utenti</h1>
        <app-lista-utenti></app-lista-utenti>
      }
      @case ('aggiungi-utente') {
        <h1>Aggiungi Utente</h1>
      }
      @case ('lista-prodotti') {
        <h1>Lista prodotti</h1>
        <app-lista-prodotti></app-lista-prodotti>
      }

      @case ('aggiungi-prodotto') {
        <h1>Aggiungi prodotto</h1>
      }

      @case ('lista-ordini') {
        <h1>Lista ordini</h1>
      }

      @case ('modifica-ordini') {
        <h1>Modifica ordini</h1>
      }
      @default {
        <h1>Benvenuto nell'Area Admin</h1>

      }
    }
  </div>
</div>
