.container {
    width: 100%;
    display: flex;
    align-items: center;

}

form {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;

    input {
        width: 60px;
    }


    label,
    select {
        margin-right: 8px;
    }

    /* Bottoni Azione */
    button {
        background-color: var(--gold-accent);
        border: 1px solid var(--border-color);
        padding: 6px 10px;
        margin: 2px;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s;
        color: var(--white);
    }

    button:hover {
        opacity: var(--opacity-standard);
    }


}