<div class="container">
  <form [formGroup]="tagliaForm" (ngSubmit)="onSubmit()">
    <div class="col">
      <label>Taglie</label>
      <select formControlName="size" class="form-control">
        <option value="" disabled>Scegli...</option>
        @for (s of taglie; track s) {
          <option [value]="s">{{ s }}</option>
        }
      </select>
    </div>
    <div class="col">
      <label>Quantità</label>
      <input type="number" formControlName="quantity" class="form-control" />
    </div>
    <button type="submit">Aggiungi</button>
  </form>
  @if (messageError != null) {
    <p class="message_error">{{ messageError() }}</p>
  }
  @if (messageOk != null) {
    <p class="messageOk">{{ messageOk() }}</p>
  }
</div>
